
.btn {
    background-color: $cWhite;
    color: $cBlack;
    border: 1px solid $cBlack;
    padding: 10px 40px;
    display: inline-block;
    cursor: pointer;
    outline: none !important;
    text-decoration: none !important;
}