.hover-darken {
    &.inview {
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all 0.3s;
            z-index: 1;
            pointer-events: none;
            @include animation(
                $name: kf-img-slide,
                $duration: 1.6s,
                $fill-mode: none    
            )
        }
        &:hover {
            &::before {
                background-color: rgba(0, 0, 0, 0.4);
            }    
        }    
    }
}
