.animate-title {
    font-size: 24px;
    font-weight: bold;
    color: orange;
    opacity: 0;

    &.inview {
        opacity: 1;
    }

    & > .char {
        display: inline-block;
    }

    &.inview > .char {
        @include animation(
            $name: kf-text-up,
            $duration: 1.6s,
            $fill-mode: both,
            $timing-function: ease-in-out
        );
        @for $i from 1 through 30 {
            &:nth-child(#{$i}){
                animation-delay: 0.04s * $i;
            }
        }
    }
}

@keyframes kf-text-up {
    0% {
        opacity: 0;
        transform: translateY(-60%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}