.header {
    &__nav {
        display: block;
    }
    & .mobile-menu__btn {
        display: none;
    }
}

.swiper {
    width: $wrapperWidth;
}

.swiper-tag,
.swiper-button-box {
    visibility: visible;
}

footer {
    width: 100%;
    height: 240px;
}