img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: $cBase;
    &:hover {
        color: $cBase;
        opacity: 0.8;
        cursor: pointer;
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding: 0;
}
    
body {
    color: $cBase;
}

.wrapper {
    width: $wrapperWidth;
    margin: 0 auto;
}

.font-xs {
    font-size: 10px;
}

.font-sm {
    font-size: 14px;
}
.font-md {
    font-size: 17px;
}
.font-lr {
    font-size: 20px;
}
.font-lg {
    font-size: 25px;
}

.mb-xs {
    margin-bottom: 12px !important;
}
.mb-sm {
    margin-bottom: 16px !important;
}
.pb-sm {
    padding-bottom: 16px !important;
}
.mb-lg {
    margin-bottom: 80px !important;
}
.pb-lg {
    padding-bottom: 80px !important;
}
.mb-xl {
    margin-bottom: 120px !important;
}

h1 {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    margin: 0
}

#container {
    position: relative;
    z-index: 10;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $cWhite;

    &.outview {
        opacity: 0.9;
    }
}

.header {
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
        display: none;

        & ul {
            display: flex;
        }
    }
    &__item {
        list-style: none;
        margin-left: 18px;
    }
    &__observer {
        position: absolute;
        top: 0;
        left: 0;
    }
}

#content {
    padding-top: $headerHeight;
    position: relative;
}

.swiper-tag,
.swiper-button-box {
    visibility: hidden;
}

.fav {
    width: 100%;
    height: auto;

    &__item {
        margin-bottom: 90px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.detail {
    width: 100%;
    height: auto;
    padding: 20px;
    position: relative;
    z-index: 1;
    background-color: $cDetail;

    &__img {
        box-shadow: 0 0 30px $cBlack inset;
        margin-bottom: 40px;

        & img {
            position: relative;
            z-index: -1;
        }
    }
    &__explain {
        & span {
            color: #788ED9;
        }

        & .btn {
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
        }
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(9, 60px);
    gap: 20px;

    &__item {
        grid-row: span 3;
        position: relative;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

footer {
    width: 100%;
    height: 180px;
    background-color: $cRedLittle;
}

.footer {
    &__wrapper {
        @extend .wrapper;
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__content {
        height: auto;
    }
    &__item {
        list-style: none;
    }
}